.container {
    border: 1px solid black;
    background-color: gainsboro;
    width: 1200px;
    height: 1800px;
    margin: auto;
    text-align: center;
}

.tophome {
    background-color: brown;
    width: 1190px;
    height: 50px;
    margin: 5px;
}

.banner {
    background-color: gold;
    width: 1190px;
    height: 450px;
    margin: 5px;
}

.menu {
    background-color: blueviolet;
    width: 1190px;
    height: 80px;
    margin: 5px;
}

.conteudo {
    background-color: indianred;
    width: 1190px;
    height: 1000px;
    margin: 5px;
}

.rodape {
    background-color: teal;
    width: 1190px;
    height: 190px;
    margin: 5px;
}